<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="/">Navbar</a>

	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav navbar-left">
	      <li class="nav-item">
	        <a class="nav-link" href="{% url 'shop:viewCart' %}">Cart</a>
	      </li>
	    </ul>
	    {% if request.user.is_authenticated %}
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="{% url 'shop:logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
	    </ul>
	    {% else %}
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="{% url 'shop:login' %}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
	      <li><a href="{% url 'shop:signup' %}"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
	    </ul>
	    {% endif %}
	  </div>
	</nav>

{% if messages %}
	{% for message in messages %}
	    <div class="alert alert-{{ message.tags }} alert-dismissible text-center">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  		{{ message }}
		</div>
	{% endfor %}
{% endif %}
<div class="container">
	{% block content %}
		
	{% endblock %}
</div>
</div>
<script>
	$(document).ready(function(){
		$(".alert").fadeOut(3000);
	});

	function UpdateCart(id){
		number = $("#qty_"+id).val();
		$.post(
			"{% url 'shop:updateCart' %}",
			{'id': id, 'number': number, 'csrfmiddlewaretoken':'{{csrf_token}}' },
			function(data){
				window.location.href = "{% url 'shop:viewCart' %}";
			}
		);
	}

</script>
</body>
</html>
